body {
    background-color: rgb(238, 220, 233);
}

header {
    background-color: rgb(121, 204, 118);
}

.img {
    height: 30px;

}

.container>h1 {
    margin: 0;
    padding: 10px;
}

h2 {
    color: goldenrod;
}

/*main--------*/
.main {
    background-color: #efefef;
}

#img-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 600px;
}

.main--p1 {
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
    padding-left: 100px 5px;
    font-size: 13px;
}

.col-xs-12 {
    text-align: center;
}

#separador {
    background-color: rgb(213, 214, 167);
}

#separador>p {
    margin: 0 0 0 0;
    text-align: center;
    font-size: 12px;
}

.facebook-a {
    color: #000;
}

.img-s {
    height: 25px;
}

/*aside--------*/
aside {
    background-color: #eac784;
}

.aside--p1 {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.aside--p2 {
    margin: 0;
    padding: 0;
    text-align: justify;
}

/*footer--------*/
.footer {
    background-color: #604c4c;
}

.footer--p {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin: 0;
}

/*stilos para los icons whatsapp y messeger*/
#app-messeger,
#app-whatsapp {
    position: fixed;
    right: 24px;
    bottom: 25px;
    width: 60px;
    z-index: 1000;
    display: none;
}

#app-whatsapp {
    bottom: 95px;
    left: 24px;
    display: block;
}

#app-messeger i,
#app-whatsapp i {
    font-size: 63px;
}

#app-whatsapp i {
    color: #1ebea5;
}

#app-messeger i {
    color: #0084ff;
}

/*si ya está bien no se sigas moviendo dijo un sabio una vez*/
/*publicidad-2*/
#publicidad2-contain1 {
    background-color: #eac784;
}

#publicidad2-contain2 {
    background-color: #efefef;
}